.fixedHeaderContainer {
    background: #111111;
}

.homeContainer {
    background-image: linear-gradient(to bottom, #111111, #333936);
}

.homeContainer .organizationLogo {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 20px;
    opacity: 0.5;
}

.homeWrapper .projLogo {
	height: 200px;
}

.projectTitle {
	color: white;
}

.projectTitle small {
	color: rgba(255, 255, 255, 0.6);
	font-weight: 100;
}