---
id: verification
title: Verificação
sidebar_label: Verificação
---

## Verificaçao de Bloco

## Verificação de Transação