---
id: verification
title: Verification
sidebar_label: Verification
---

## Block Verification

## Transaction Verification